.app-btn {
  .button();
  min-height: 50px;
  padding: 5px 10px;

  border-radius: 4px;

  font-size: 16px;
  line-height: 23px;
  font-weight: 700;
  text-align: center;
}

.app-btn__border(@color) {
  min-height: 52px;
  border: 2px solid @color;
  color: @color;
}

.app-btn__only-top-border-radius () {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.app-btn__not-border-radius () {
  border-radius: 0;
}
