.catalog-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  color: @color-white;
  background-color: @color-blue;

  &:hover {
    background-color: @color-light-blue;
  }

  &:focus-within {
    background-color: @color-light-blue;
    outline: none;
  }

  &:active {
    background-color: @color-dark-blue;
  }
}

.catalog-toggle__icon-container {
  width: 24px;
  height: 24px;
}

.catalog-toggle__icon--open {
  position: relative;
  top: 2px;
  left: 0;
}

.catalog-toggle__icon--close {
  display: none;
}
