.copyright {
  margin: 0;
  color: @color-copyright-grey;

  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.copyright__link {
  .button();

  border-bottom: 1px solid @color-copyright-grey;

  .interactive-styles();
}
