.gallery-list {
  .list();
}

.gallery-list__item {
  display: none;
}

.gallery-list__item--current {
  position: relative;

  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  min-height: 388px;
  padding: 27px 10px 39px 10px;

  .gallery-background("champion-back");

  @media (min-width: @sm-width) {
    min-height: 517px;
    padding: 40px 20px 218px 20px;
  }

  @media (min-width: @ml-width) {
    min-height: 555px;
    padding: 40px 20px 256px 30px;
  }

  @media (min-width: @lg-width) {
    min-height: 539px;
    padding: 40px 30px 244px 30px;
  }

  @media (min-width: @xx-width) {
    padding: 40px 190px 244px 190px;
  }
}

.gallery-list__logo {
  margin-bottom: 35px;

  @media (min-width: @sm-width) {
    margin-bottom: 33px;
  }

  @media (min-width: @ml-width) {
    margin-bottom: 31px;
  }
}

.gallery-list__description {
  position: relative;
  z-index: 1;

  width: 70%;
  margin: 0;
  margin-bottom: 32px;

  color: @color-white;

  font-size: 36px;
  line-height: 40px;
  font-weight: 700;

  @media (min-width: @sm-width) {
    width: 310px;
    margin-bottom: 33px;

    font-size: 42px;
    line-height: 49px;
  }
}

.gallery-list__btn {
  .button();

  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.gallery-list__btn-caption {
  margin-right: 16px;
}

.gallery-list__btn-icon {
  color: @color-blue;
}

.gallery-list__img {
  position: absolute;

  &&--item-1 {
    width: 191px;
    height: 298px;
    top: 27px;
    left: 46.3%;

    @media (min-width: @sm-width) {
      width: 297px;
      height: 464px;
      top: 15px;
      left: 49.2%;
    }

    @media (min-width: @ml-width) {
      left: 33.9%;
    }

    @media (min-width: @lg-width) {
      left: 37.9%;
    }

    @media (min-width: @xl-width) {
      left: 40.1%;
    }

    @media (min-width: @xx-width) {
      left: 41.9%;
    }
  }

  &--item-2 {
    top: 0;
  }
}

.gallery-list__img img {
  // max-width: none;

  object-fit: contain;
}

.gallery-list__slogan {
  display: none;

  @media (min-width: @lg-width) {
    display: block;
    padding: 103px 0 25px 0;
    margin: 0;

    color: @color-white;

    font-size: 75px;
    line-height: 72px;
    font-weight: 300;
  }
}
