.gallery {
  .wrapper-outer();
}

.gallery__slider {
  position: relative;
}

.gallery__list {
}

.gallery__controls {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: end;

  @media (min-width: @sm-width) {
    right: @sm-padding-inner;
  }

  @media (min-width: @lg-width) {
    right: @lg-padding-inner;
  }

  @media (min-width: @xx-width) {
    right: @xx-padding-inner;
  }
}

.gallery-controls__btn {
  .button();
  width: 60px;
  height: 60px;

  background-color: rgba(@color-white, 0.2);
  background-image: url("../../img/arrow-right.svg");
  background-size: 26px 19px;
  background-position: center left 17px;
  background-repeat: no-repeat;

  &--prev {
    transform: rotate(180deg);
  }

  &--disabled {
    opacity: 0.4;
    cursor: default;
  }

  .interactive-styles();

  @media (min-width: @sm-width) {
    width: 80px;
    height: 80px;

    background-size: 34px 24px;
    background-position: center left 23px;
  }
}
