.gallery-list {
  .list();

  min-height: 338px;

  @media (min-width: @sm-width) {
    min-height: 517px;
  }

  @media (min-width: @ml-width) {
    min-height: 555px;
  }

  @media (min-width: @lg-width) {
    min-height: 539px;
  }
}

.gallery-list__item {
  display: grid;
  grid-template-columns: 10px min-content auto 10px;

  @media (min-width: @sm-width) {
    grid-template-columns: 20px auto auto 20px;
  }

  @media (min-width: @lg-width) {
    grid-template-columns: 30px auto auto 30px;
  }

  @media (min-width: @xx-width) {
    grid-template-columns: 190px auto auto 190px;
  }
}

.gallery-list__item:not(.gallery-list__item--current) {
  display: none
}

.gallery-list__item--oil-champion {
  .gallery-background("blue-back");
}

.gallery-list__item--cosmetics-felix {
  .gallery-background("grey-back");
}

.gallery-list__item--oil-felix {
  .gallery-background("yellow-back");
}

.gallery-list__img {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  overflow: hidden;

  box-sizing: border-box;
  height: 338px;

  @media (min-width: @sm-width) {
    height: auto;
  }
}

.gallery-list__img--oil-champion {
  padding-top: 27px;

  @media (min-width: @sm-width) {
    padding-top: 15px;
  }
}

.gallery-list__img--cosmetics-felix {
  padding-top: 15px;
}

.gallery-list__img--oil-champion img {
  width: 191px;
  height: 298px;
  margin-left: 46.6%;

  object-fit: cover;

  @media (min-width: @sm-width) {
    width: 297px;
    height: 464px;
    margin-left: 49.2%;
  }

  @media (min-width: @ml-width) {
    margin: 0 auto;
  }
}

.gallery-list__img--cosmetics-felix img {
  width: 394px;
  height: 352px;
  margin: 0 auto;

  object-fit: cover;
}

.gallery-list__content {
  grid-row: 1 / -1;
  grid-column: 2 / 3;

  // max-width: 230px;
  padding-top: 27px;

  @media (min-width: @sm-width) {
    max-width: 360px;
    padding-top: 40px;
  }

  @media (min-width: @ml-width) {
    padding-top: 40px;
    padding-left: 10px;
  }

  @media (min-width: @lg-width) {
    padding-top: 40px;
    padding-left: 0;
  }

  @media (min-width: @xx-width) {
    padding-top: 40px;
  }
}

.gallery-list__logo {
  margin-bottom: 35px;

  @media (min-width: @sm-width) {
    margin-bottom: 33px;
  }

  @media (min-width: @ml-width) {
    margin-bottom: 31px;
  }
}

.gallery-list__description {
  margin: 0;
  margin-bottom: 32px;

  color: @color-white;

  font-size: 36px;
  line-height: 40px;
  font-weight: 700;

  @media (min-width: @sm-width) {
    margin-bottom: 33px;

    font-size: 42px;
    line-height: 49px;
  }
}

.gallery-list__btn {
  .button();

  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.gallery-list__btn-caption {
  margin-right: 16px;
}

.gallery-list__btn-icon {
  color: @color-blue;
}

.gallery-list__slogan {
  display: none;

  @media (min-width: @lg-width) {
    grid-row: 1 / -1;
    grid-column: -2 / -3;
    justify-self: end;

    display: block;
    padding: 0;
    padding-top: 147px;
    margin: 0;

    color: @color-white;

    font-size: 75px;
    line-height: 72px;
    font-weight: 300;
  }
}
