.page-header {
  min-height: 166px;
  // background-color: @color-white;

  @media (min-width: @sm-width) {
    min-height: 130px;
  }

  @media (min-width: @ml-width) {
    min-height: auto;
    margin-bottom: 20px;
  }

  @media (min-width: @lg-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @xl-width) {
    margin-bottom: 40px;
  }
}
