.phone-link {
  .button();
  min-width: 158px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: start;
  
  .interactive-styles();
}
