.products-list {
  .list();

  display: grid;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: @ml-width) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(144px, min-content));
    grid-auto-flow: column;
    gap: 20px;
  }

  @media (min-width: @xl-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(144px, min-content));
  }
}

.products-list__item {
  border-bottom: 1px solid @color-border-grey;

  @media (min-width: @ml-width) {
    border: none;
  }
}

.products-list__link {
  .button();
  position: relative;
  display: flex;
  align-items: center;
  min-height: 52px;

  @media (max-width: (@ml-width - 1)) {
    width: 100%;
    padding: 4px 15px 4px 20px;

    &::after {
      position: absolute;
      content: "";
      width: 14px;
      height: 14px;
      top: 0;
      bottom: 0;
      right: 15px;
      margin: auto 0;

      background-image: url("../../img/arrow-dark.svg");
      background-size: 14px 14px;
      background-repeat: no-repeat;
      background-position: center right;
      transform: rotate(90deg);
    }
  }

  @media (min-width: @ml-width) {
    width: auto;
    min-height: 32px;
    padding: 8px 68px 8px 0;

    &::after {
      position: absolute;
      content: "все";
      padding: 0 12px;
      top: 0;
      bottom: 0;
      right: 0;

      border: 1px solid @color-button-blue;
      border-radius: 4px;

      color: @color-button-blue;
      font-size: 14px;
      line-height: 32px;
      font-weight: 400;
      text-transform: lowercase;
    }
  }

  .interactive-styles();
}

.products-list__category-list {
  display: none;

  @media (min-width: @ml-width) {
    display: block;
  }
}

.products-list__item-current .products-list__category-list {
  @media (max-width: (@ml-width - 1)) {
    display: block;
    padding: 0 15px 4px 20px;
  }
}
