.services {
  display: grid;

  @media (min-width: @ml-width) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }
}

.services__button {
  grid-row: 1 / 2;

  width: 100%;
  min-height: 53px;

  @media (min-width: @ml-width) {
    grid-column: 1 / 2;
    align-self: end;

    min-height: 60px;
  }
}

.services__list {
  grid-row: 2 / 3;

  @media (min-width: @ml-width) {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }
}
