.site-list {
  .list();

  font-size: 15px;
  line-height: 20px;

  &--header {
    font-weight: 400;
  }

  &--footer {
    font-weight: 700;
  }
}

.site-list--header .site-list__item {
  @media (min-width: @lg-width) {
    &--buy {
      display: none;
    }

    &--promotion {
      display: none;
    }
  }

  @media (min-width: @xl-width) {
    &--buy {
      display: block;
    }

    &--promotion {
      display: block;
    }
  }
}

.site-list--footer .site-list__item {
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;

  @media (min-width: @ml-width) {
    &--private,
    &--requisites {
      display: none;
    }
  }

  @media (min-width: @lg-width) {
    &--private {
      display: block;
    }
  }

  @media (min-width: @xl-width) {
    &--requisites {
      display: block;
    }
  }
}

.site-list__link {
  .button();
  display: flex;
  align-items: center;


  padding-top: 5px;
  padding-bottom: 5px;

  text-align: left;
  .interactive-styles();

  &--special {
    font-weight: 700;
  }
}

.site-list--opened .site-list__link {
  @media (max-width: (@ml-width - 1)) {
    min-height: 72px;
    padding-left: 42px;
    padding-right: 26px;

    & span {
      width: 100%;
      background-image: url("../../img/arrow-light.svg");
      background-size: 14px 14px;
      background-repeat: no-repeat;
      background-position: center right;
    }

    &--special span {
      background-image: url("../../img/arrow-dark.svg");
    }
  }

  @media (min-width: @sm-width) and (max-width: (@ml-width - 1)) {
    padding-left: 52px;

    & span {
      width: auto;
      padding-right: 43px;
      background-position: center right;
    }
  }
}
