.site-list {
  .list();

  // @media (min-width: @ml-width) {
  //   display: flex;
  // }
}

.site-list__item {
  // &:not(:last-of-type) {
  //   margin-right: 45px;
  // }

  @media (min-width: @lg-width) {
    &--buy {
      display: none;
    }

    &--promotion {
      display: none;
    }
  }

  @media (min-width: @xl-width) {
    &--buy {
      display: block;
    }

    &--promotion {
      display: block;
    }
  }
}

.site-list__link {
  padding-top: 10px;
  padding-bottom: 10px;

  color: inherit;

  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  vertical-align: middle;
  
  &--current {
    font-weight: 700;
  }

  .interactive-styles();
}
