.social-list {
  .list();
}

.social-list__link {
  .button();

  width: 30px;
  height: 30px;

  border-radius: 50%;
  background-color: @color-white;

  background-repeat: no-repeat;
  background-position: center;

  &--vk {
    background-image: url("../img/vk.svg");
    background-size: 18px 11px;
  }

  &--whatsapp {
    background-image: url("../img/whatsapp.svg");
    background-size: 15px 15px;
  }

  &--instagram {
    background-image: url("../img/instagram.svg");
    background-size: 17px 16px;
  }

  .interactive-styles();
}
