.list () {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 0 @xs-padding;

  @media (min-width: @sm-width) {
    padding: 0 @sm-padding;
  }

  @media (min-width: @ml-width) {
    padding: 0 @ml-padding;
  }

  @media (min-width: @lg-width) {
    padding: 0 @lg-padding;
  }

  @media (min-width: @xl-width) {
    padding: 0 @xl-padding;
  }

  @media (min-width: @xx-width) {
    // width: 100%;
    max-width: @max-content;
    padding: 0 @xx-padding;
    margin: 0 auto;
  }
}

.font-title {
  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
