.list () {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
}

.wrapper-outer {
  box-sizing: border-box;
  width: 100%;
  padding-left: @xs-padding-outer;
  padding-right: @xs-padding-outer;

  @media (min-width: @sm-width) {
    padding-left: @sm-padding-outer;
    padding-right: @sm-padding-outer;
  }

  @media (min-width: @ml-width) {
    padding-left: @ml-padding-outer;
    padding-right: @ml-padding-outer;
  }

  @media (min-width: @lg-width) {
    padding-left: @lg-padding-outer;
    padding-right: @lg-padding-outer;
  }

  @media (min-width: @xl-width) {
    padding-left: @xl-padding-outer;
    padding-right: @xl-padding-outer;
  }

  @media (min-width: @xx-width) {
    max-width: @xx-width;
    padding-left: @xx-padding-outer;
    padding-right: @xx-padding-outer;
    margin-left: auto;
    margin-right: auto;
  }
}

.wrapper-inner {
  padding: 0 @xs-padding-inner;

  @media (min-width: @sm-width) {
    padding: 0 @sm-padding-inner;
  }

  @media (min-width: @ml-width) {
    padding: 0 @ml-padding-inner;
  }

  @media (min-width: @lg-width) {
    padding: 0 @lg-padding-inner;
  }

  @media (min-width: @xl-width) {
    padding: 0 @xl-padding-inner;
  }

  @media (min-width: @xx-width) {
    padding: 0 @xx-padding-inner;
  }
}

.font-title {
  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.interactive-styles {
  &:hover {
    opacity: 0.3;
  }

  &:focus-visible {
    opacity: 0.3;
    outline: none;
  }

  &:active {
    opacity: 0.1;
  }
}

@img-path: "../../img/";

.retina-background(@img-src, @img-name, @img-width) {
  background-image: image-set(
    url("@{img-src}@{img-name}-@{img-width}.webp") type("image/webp") 1x,
    url("@{img-src}@{img-name}-@{img-width}@2x.webp") type("image/webp") 2x,
    url("@{img-src}@{img-name}-@{img-width}.png") type("image/png") 1x,
    url("@{img-src}@{img-name}-@{img-width}@2x.png") type("image/png") 2x,
  );
}

@gallery-back-path: "@{img-path}gallery-back/";

.gallery-background(@img-name) {
  .retina-background(@gallery-back-path, @img-name, @xs-width);

  @media (min-width: @sm-width) {
    .retina-background(@gallery-back-path, @img-name, @sm-width);
  }

  @media (min-width: @ml-width) {
    .retina-background(@gallery-back-path, @img-name, @max-content);
  }
}

@services-path: "@{img-path}services/";

.services-background(@img-name) {
  background-size: 130px 115px;
  background-repeat: no-repeat;
  background-position: top right;
  
  .retina-background(@services-path, @img-name, @xs-width);

  @media (min-width: @ml-width) {
    .retina-background(@services-path, @img-name, @ml-width);
  }
}

.link-svg-style(@svgName) {
  @media (max-width: (@ml-width - 1)) {
    width: 100%;
    padding-left: 42px;
    padding-right: 39px;

    background-image: url("../../img/@{svgName}");
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: center right 39px;
  }

  @media (min-width: @sm-width) and (max-width: (@ml-width - 1)) {
    width: auto;
    padding-left: 42px;
    padding-right: 29px;

    background-position: center right;
  }
}
