@font-page: "Gotham Pro", sans-serif;

@color-white: #FFFFFF;
@color-light-grey: #F0F0F0;
@color-dark-grey: #999999;
@color-grey: #BBBBBB;
@color-light-black: #222222;
@color-black: #000000;
@color-blue: #1C69D4;
@color-light-blue: #2681FF;
@color-dark-blue: #0055CB;
@color-offer-back-blue: #01B7E6;
@color-offer-back-grey: #587478;
@color-red: #FF4400;
@color-green: #3CA255;

@xs-width: 320px;
@sm-width: 640px;
@ml-width: 960px;
@lg-width: 1280px;
@xl-width: 1600px;
@xx-width: 1920px;

@max-content: 1820px;

@xs-padding: 10px;
@sm-padding: 20px;
@ml-padding: 20px;
@lg-padding: 30px;
@xl-padding: 50px;
@xx-padding: 50px;

@xs-padding-outer: 0;
@sm-padding-outer: 0;
@ml-padding-outer: 20px;
@lg-padding-outer: 30px;
@xl-padding-outer: 50px;
@xx-padding-outer: 50px;

@xs-padding-inner: 10px;
@sm-padding-inner: 20px;
@ml-padding-inner: 20px;
@lg-padding-inner: 30px;
@xl-padding-inner: 30px;
@xx-padding-inner: 190px;
