@font-page: "Gotham Pro", sans-serif;

@color-white: #FFFFFF;
@color-light-grey: #F0F0F0;
@color-light-black: #222222;
@color-blue: #1C69D4;
@color-red: #FF4400;
@color-green: #3CA255;

@xs-width: 320px;
@s-width: 640px;
@m-width: 960px;
@l-width: 1280px;
@xl-width: 1600px;
@xxl-width: 1920px;

@max-content: 1820px;

@xs-padding: 10px;
@s-padding: 20px;
@m-padding: 20px;
@l-padding: 30px;
@xl-padding: 50px;
@xxl-padding: 50px;

@mobile-padding: 10px;
@tablet-padding: 20px;
@desktop-padding: 20px;
