@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/gothampro.woff"), url("../fonts/gothampro.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gothampro-light.woff"), url("../fonts/gothampro-light.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Gotham Pro";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/gothampro-bold.woff"), url("../fonts/gothampro-bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Gotham Pro";
  font-style: bold;
  font-weight: 900;
  src: url("../fonts/gothampro-black.woff"), url("../fonts/gothampro-black.ttf");
  font-display: swap;
}
.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.wrapper-outer {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0;
}
@media (min-width: 640px) {
  .wrapper-outer {
    padding: 0 0;
  }
}
@media (min-width: 960px) {
  .wrapper-outer {
    padding: 0 20px;
  }
}
@media (min-width: 1280px) {
  .wrapper-outer {
    padding: 0 30px;
  }
}
@media (min-width: 1600px) {
  .wrapper-outer {
    padding: 0 50px;
  }
}
@media (min-width: 1920px) {
  .wrapper-outer {
    max-width: 1920px;
    padding: 0 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
.wrapper-inner {
  padding: 0 10px;
}
@media (min-width: 640px) {
  .wrapper-inner {
    padding: 0 20px;
  }
}
@media (min-width: 960px) {
  .wrapper-inner {
    padding: 0 20px;
  }
}
@media (min-width: 1280px) {
  .wrapper-inner {
    padding: 0 30px;
  }
}
@media (min-width: 1600px) {
  .wrapper-inner {
    padding: 0 30px;
  }
}
@media (min-width: 1920px) {
  .wrapper-inner {
    padding: 0 190px;
  }
}
.font-title {
  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
.interactive-styles:hover {
  opacity: 0.3;
}
.interactive-styles:focus-visible {
  opacity: 0.3;
  outline: none;
}
.interactive-styles:active {
  opacity: 0.1;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.page {
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  font-family: "Gotham Pro", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #222222;
  background-color: #F0F0F0;
}
.page__body {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0;
}
@media (max-width: 959px) {
  .page__body--modal::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
  }
}
.app__btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  min-height: 50px;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 700;
}
.page-header {
  min-height: 166px;
  background-color: #FFFFFF;
}
@media (min-width: 640px) {
  .page-header {
    min-height: 130px;
  }
}
@media (min-width: 960px) {
  .page-header {
    min-height: auto;
    margin-bottom: 20px;
  }
}
@media (min-width: 1280px) {
  .page-header {
    margin-bottom: 30px;
  }
}
@media (min-width: 1600px) {
  .page-header {
    margin-bottom: 40px;
  }
}
.logo-link {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  text-align: start;
  color: #222222;
}
.logo-link:hover {
  opacity: 0.3;
}
.logo-link:focus-visible {
  opacity: 0.3;
  outline: none;
}
.logo-link:active {
  opacity: 0.1;
}
.logo-link__img {
  display: none;
}
@media (min-width: 960px) {
  .logo-link__img {
    display: block;
    width: 80px;
    height: 88px;
  }
}
.logo-link__name {
  font-size: 16px;
  line-height: 23px;
  font-weight: 700;
}
@media (min-width: 960px) {
  .logo-link__name {
    display: none;
  }
}
.office {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}
@media (min-width: 640px) {
  .office {
    display: flex;
  }
}
.office__label {
  display: none;
  font: inherit;
}
@media (min-width: 640px) {
  .office__label {
    display: block;
  }
}
@media (min-width: 960px) {
  .office__label {
    display: none;
  }
}
@media (min-width: 1920px) {
  .office__label {
    display: block;
  }
}
.office__select {
  width: 119px;
  padding-right: 15px;
  background-image: url("../../img/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  border: none;
  font: inherit;
  -webkit-appearance: none;
          appearance: none;
}
.office__select:focus {
  outline: none;
}
.office__select option {
  width: 119px;
  font: inherit;
}
.phone-link {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  min-width: 158px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}
.phone-link:hover {
  opacity: 0.3;
}
.phone-link:focus-visible {
  opacity: 0.3;
  outline: none;
}
.phone-link:active {
  opacity: 0.1;
}
.site-menu-toggle {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.site-menu-toggle:hover {
  opacity: 0.3;
}
.site-menu-toggle:focus-visible {
  opacity: 0.3;
  outline: none;
}
.site-menu-toggle:active {
  opacity: 0.1;
}
.site-menu-toggle__icon {
  position: absolute;
}
.site-menu-toggle__icon--open {
  top: 2px;
  left: 0;
}
.site-menu-toggle__icon--close {
  top: 4px;
  left: 5px;
}
.search__btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.search__form-input {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 8px 14px 49px;
  background-image: url("../../img/search.svg");
  background-size: 18px 18px;
  background-position: left 20px center;
  background-repeat: no-repeat;
  border: 1px solid #BBBBBB;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) inset;
  font-family: "Gotham Pro", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.search__form-input::placeholder {
  color: #999999;
  font: inherit;
}
.catalog-menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #FFFFFF;
  background-color: #1C69D4;
}
.catalog-menu-toggle:hover {
  background-color: #2681FF;
}
.catalog-menu-toggle:focus-within {
  background-color: #2681FF;
  outline: none;
}
.catalog-menu-toggle:active {
  background-color: #0055CB;
}
.catalog-menu-toggle__icon-container {
  width: 24px;
  height: 24px;
}
.catalog-menu-toggle__icon--open {
  position: relative;
  top: 2px;
  left: 0;
}
.catalog-menu-toggle__icon--close {
  display: none;
}
.site-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 1280px) {
  .site-list__item--buy {
    display: none;
  }
  .site-list__item--promotion {
    display: none;
  }
}
@media (min-width: 1600px) {
  .site-list__item--buy {
    display: block;
  }
  .site-list__item--promotion {
    display: block;
  }
}
.site-list__link {
  padding-top: 10px;
  padding-bottom: 10px;
  color: inherit;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  vertical-align: middle;
}
.site-list__link--current {
  font-weight: 700;
}
.site-list__link:hover {
  opacity: 0.3;
}
.site-list__link:focus-visible {
  opacity: 0.3;
  outline: none;
}
.site-list__link:active {
  opacity: 0.1;
}
.user-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.user-list__item:not(:last-of-type) {
  margin-right: 24px;
}
.user-list__link {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  color: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
@media (min-width: 640px) {
  .user-list__link {
    width: auto;
    padding-left: 32px;
    padding-top: 4px;
  }
}
.user-list__link:hover {
  opacity: 0.3;
}
.user-list__link:focus-visible {
  opacity: 0.3;
  outline: none;
}
.user-list__link:active {
  opacity: 0.1;
}
.user-list__link-icon {
  position: absolute;
}
.user-list__link-auth .user-list__link-icon {
  top: 1px;
  left: 3px;
}
.user-list__link-cart .user-list__link-icon {
  top: 0;
  left: 0;
}
.user-list__link-subtitle {
  display: none;
}
@media (min-width: 640px) {
  .user-list__link-subtitle {
    display: block;
  }
}
.products-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
.products-list__link {
  color: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.services-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
.services-list__link {
  color: inherit;
  font-size: 16px;
  line-height: 23px;
  font-weight: 700;
  text-decoration: none;
}
.main-nav {
  display: grid;
  grid-template-columns: 10px minmax(32px, min-content) min-content auto min-content min-content 10px;
  grid-template-rows: minmax(60px, min-content) minmax(44px, min-content) minmax(62px, min-content);
  align-items: center;
  width: 100%;
}
@media (min-width: 640px) {
  .main-nav {
    grid-template-columns: 20px minmax(32px, min-content) min-content min-content auto auto auto min-content 20px;
    grid-template-rows: minmax(60px, min-content) minmax(70px, min-content);
  }
}
@media (min-width: 960px) {
  .main-nav {
    grid-template-columns: 20px minmax(100px, min-content) min-content min-content auto 20px;
    grid-template-rows: minmax(61px, min-content) minmax(50px, min-content) minmax(49px, min-content);
  }
}
@media (min-width: 1280px) {
  .main-nav {
    grid-template-columns: 30px minmax(110px, min-content) min-content min-content auto auto 30px;
    grid-template-rows: minmax(61px, min-content) minmax(50px, min-content) 29px;
  }
}
@media (min-width: 1600px) {
  .main-nav {
    grid-template-columns: 50px minmax(120px, min-content) min-content min-content auto auto 50px;
  }
}
@media (min-width: 1920px) {
  .main-nav {
    max-width: 1920px;
    margin: 0 auto;
  }
}
@media (max-width: 959px) {
  .main-nav--site-list-opened {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #FFFFFF;
  }
}
.main-nav__bottom-bar {
  grid-row: 2 / 4;
  grid-column: 1 / -1;
  height: 100%;
  background-color: #F0F0F0;
}
@media (min-width: 640px) {
  .main-nav__bottom-bar {
    grid-row: 2 / 3;
  }
}
@media (min-width: 960px) {
  .main-nav__bottom-bar {
    display: none;
  }
}
@media (max-width: 959px) {
  .main-nav--site-list-opened .main-nav__bottom-bar {
    display: none;
  }
}
.main-nav__site-menu-toggle {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin-right: 8px;
}
@media (min-width: 960px) {
  .main-nav__site-menu-toggle {
    display: none;
  }
}
.main-nav__site-menu-toggle-icon--close {
  display: none;
}
@media (max-width: 959px) {
  .main-nav--site-list-opened .main-nav__site-menu-toggle-icon--close {
    display: block;
  }
}
@media (max-width: 959px) {
  .main-nav--site-list-opened .main-nav__site-menu-toggle-icon--open {
    display: none;
  }
}
.main-nav__logo {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  padding-bottom: 1px;
}
@media (min-width: 640px) {
  .main-nav__logo {
    margin-right: 28px;
  }
}
@media (min-width: 960px) {
  .main-nav__logo {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    align-self: end;
    margin-right: 20px;
  }
}
@media (min-width: 1600px) {
  .main-nav__logo {
    padding-left: 10px;
    margin-right: 30px;
  }
}
@media (max-width: 959px) {
  .main-nav--site-list-opened .main-nav__logo {
    color: #999999;
  }
}
.main-nav__search {
  grid-row: 1 / 2;
  grid-column: -3 / -4;
  justify-self: end;
  margin-right: 24px;
}
@media (min-width: 640px) {
  .main-nav__search {
    grid-row: 2 / 3;
    grid-column: 5 / 7;
    justify-self: start;
    width: calc(100% - 15px);
    margin-right: 15px;
  }
}
@media (min-width: 960px) {
  .main-nav__search {
    grid-row: 2 / 3;
    grid-column: -2 / -4;
    align-self: end;
    justify-self: strech;
    width: 100%;
    margin-right: 0;
  }
}
@media (min-width: 1280px) {
  .main-nav__search {
    grid-row: 2 / 3;
    grid-column: -2 / -5;
  }
}
@media (max-width: 959px) {
  .main-nav--site-list-opened .main-nav__search {
    display: none;
  }
}
.main-nav__user-list {
  grid-row: 1 / 2;
  grid-column: -2 / -3;
  margin-right: 10px;
}
@media (min-width: 640px) {
  .main-nav__user-list {
    grid-column: -2 / -5;
    justify-self: end;
    margin-right: 0;
  }
}
@media (min-width: 960px) {
  .main-nav__user-list {
    grid-column: -2 / -3;
    margin-right: 10px;
  }
}
@media (min-width: 1280px) {
  .main-nav__user-list {
    margin-right: 0;
  }
}
.main-nav__office {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  margin-right: 12px;
}
@media (min-width: 640px) {
  .main-nav__office {
    grid-row: 1 / 2;
    grid-column: 4 / 6;
  }
}
@media (min-width: 960px) {
  .main-nav__office {
    grid-column: 3/4;
  }
}
@media (max-width: 639px) {
  .main-nav--site-list-opened .main-nav__office {
    display: none;
  }
}
.main-nav__phone {
  grid-row: 2 / 3;
  grid-column: -2 / -5;
  justify-self: end;
}
@media (min-width: 640px) {
  .main-nav__phone {
    grid-column: -2 / -4;
  }
}
@media (min-width: 960px) {
  .main-nav__phone {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    justify-self: start;
    margin-right: 21px;
  }
}
@media (min-width: 1280px) {
  .main-nav__phone {
    margin-right: 47px;
  }
}
@media (max-width: 959px) {
  .main-nav--site-list-opened .main-nav__phone {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    justify-self: start;
    min-height: 72px;
    padding-left: 42px;
  }
}
.main-nav__catalog-menu {
  display: none;
}
.main-nav__catalog-menu-toggle {
  grid-row: 3 / 4;
  grid-column: 2 / -2;
  align-self: start;
  width: 100%;
}
@media (min-width: 640px) {
  .main-nav__catalog-menu-toggle {
    grid-row: 2 / 3;
    grid-column: 2 / 5;
    align-self: center;
    width: 190px;
    margin-right: 16px;
  }
}
@media (min-width: 960px) {
  .main-nav__catalog-menu-toggle {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    align-self: end;
    width: 193px;
    margin-right: 20px;
  }
}
@media (min-width: 1280px) {
  .main-nav__catalog-menu-toggle {
    width: 180px;
  }
}
@media (min-width: 1600px) {
  .main-nav__catalog-menu-toggle {
    width: 156px;
    margin-right: 30px;
  }
}
@media (min-width: 1920px) {
  .main-nav__catalog-menu-toggle {
    width: 220px;
  }
}
@media (max-width: 959px) {
  .main-nav--site-list-opened .main-nav__catalog-menu-toggle {
    display: none;
  }
}
@media (max-width: 959px) {
  .main-nav__site-menu-list {
    display: none;
  }
}
@media (min-width: 960px) {
  .main-nav__site-menu-list {
    grid-row: 3 / 4;
    grid-column: 3 / -2;
    display: flex;
    gap: 40px;
    padding-top: 8px;
    padding-bottom: 1px;
  }
}
@media (min-width: 1280px) {
  .main-nav__site-menu-list {
    grid-row: 1 / 2;
    grid-column: -4 / -3;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (max-width: 959px) {
  .main-nav--site-list-opened .main-nav__site-menu-list {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
}
@media (max-width: 959px) {
  .main-nav--site-list-opened .main-nav__site-menu-item {
    min-height: 72px;
    display: flex;
    align-items: center;
    padding-left: 42px;
    border-bottom: 1px solid #E6E6E6;
  }
  .main-nav--site-list-opened .main-nav__site-menu-item:first-of-type {
    border-top: 1px solid #E6E6E6;
  }
}
.main-nav__office select {
  background-color: #F0F0F0;
}
@media (min-width: 640px) {
  .main-nav__office select {
    background-color: #FFFFFF;
  }
}
@media (min-width: 640px) {
  .main-nav__search-btn {
    display: none;
  }
}
.main-nav__search-form {
  display: none;
}
@media (min-width: 640px) {
  .main-nav__search-form {
    display: block;
  }
}
.gallery-item {
  position: relative;
}
.gallery-item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 338px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 640px) {
  .gallery-item::before {
    height: 517px;
  }
}
@media (min-width: 960px) {
  .gallery-item::before {
    height: 555px;
  }
}
@media (min-width: 1280px) {
  .gallery-item::before {
    height: 539px;
  }
}
.gallery-item--oil-champion::before {
  background-image: -webkit-image-set(url("../../img/gallery-back/blue-back-320px.webp") type("image/webp") 1x, url("../../img/gallery-back/blue-back-320px@2x.webp") type("image/webp") 2x, url("../../img/gallery-back/blue-back-320px.png") type("image/png") 1x, url("../../img/gallery-back/blue-back-320px@2x.png") type("image/png") 2x);
  background-image: image-set(url("../../img/gallery-back/blue-back-320px.webp") type("image/webp") 1x, url("../../img/gallery-back/blue-back-320px@2x.webp") type("image/webp") 2x, url("../../img/gallery-back/blue-back-320px.png") type("image/png") 1x, url("../../img/gallery-back/blue-back-320px@2x.png") type("image/png") 2x);
}
@media (min-width: 640px) {
  .gallery-item--oil-champion::before {
    background-image: -webkit-image-set(url("../../img/gallery-back/blue-back-640px.webp") type("image/webp") 1x, url("../../img/gallery-back/blue-back-640px@2x.webp") type("image/webp") 2x, url("../../img/gallery-back/blue-back-640px.png") type("image/png") 1x, url("../../img/gallery-back/blue-back-640px@2x.png") type("image/png") 2x);
    background-image: image-set(url("../../img/gallery-back/blue-back-640px.webp") type("image/webp") 1x, url("../../img/gallery-back/blue-back-640px@2x.webp") type("image/webp") 2x, url("../../img/gallery-back/blue-back-640px.png") type("image/png") 1x, url("../../img/gallery-back/blue-back-640px@2x.png") type("image/png") 2x);
  }
}
@media (min-width: 960px) {
  .gallery-item--oil-champion::before {
    background-image: -webkit-image-set(url("../../img/gallery-back/blue-back-1820px.webp") type("image/webp") 1x, url("../../img/gallery-back/blue-back-1820px@2x.webp") type("image/webp") 2x, url("../../img/gallery-back/blue-back-1820px.png") type("image/png") 1x, url("../../img/gallery-back/blue-back-1820px@2x.png") type("image/png") 2x);
    background-image: image-set(url("../../img/gallery-back/blue-back-1820px.webp") type("image/webp") 1x, url("../../img/gallery-back/blue-back-1820px@2x.webp") type("image/webp") 2x, url("../../img/gallery-back/blue-back-1820px.png") type("image/png") 1x, url("../../img/gallery-back/blue-back-1820px@2x.png") type("image/png") 2x);
  }
}
.gallery-item--cosmetics-felix::before {
  background-image: -webkit-image-set(url("../../img/gallery-back/grey-back-320px.webp") type("image/webp") 1x, url("../../img/gallery-back/grey-back-320px@2x.webp") type("image/webp") 2x, url("../../img/gallery-back/grey-back-320px.png") type("image/png") 1x, url("../../img/gallery-back/grey-back-320px@2x.png") type("image/png") 2x);
  background-image: image-set(url("../../img/gallery-back/grey-back-320px.webp") type("image/webp") 1x, url("../../img/gallery-back/grey-back-320px@2x.webp") type("image/webp") 2x, url("../../img/gallery-back/grey-back-320px.png") type("image/png") 1x, url("../../img/gallery-back/grey-back-320px@2x.png") type("image/png") 2x);
}
@media (min-width: 640px) {
  .gallery-item--cosmetics-felix::before {
    background-image: -webkit-image-set(url("../../img/gallery-back/grey-back-640px.webp") type("image/webp") 1x, url("../../img/gallery-back/grey-back-640px@2x.webp") type("image/webp") 2x, url("../../img/gallery-back/grey-back-640px.png") type("image/png") 1x, url("../../img/gallery-back/grey-back-640px@2x.png") type("image/png") 2x);
    background-image: image-set(url("../../img/gallery-back/grey-back-640px.webp") type("image/webp") 1x, url("../../img/gallery-back/grey-back-640px@2x.webp") type("image/webp") 2x, url("../../img/gallery-back/grey-back-640px.png") type("image/png") 1x, url("../../img/gallery-back/grey-back-640px@2x.png") type("image/png") 2x);
  }
}
@media (min-width: 960px) {
  .gallery-item--cosmetics-felix::before {
    background-image: -webkit-image-set(url("../../img/gallery-back/grey-back-1820px.webp") type("image/webp") 1x, url("../../img/gallery-back/grey-back-1820px@2x.webp") type("image/webp") 2x, url("../../img/gallery-back/grey-back-1820px.png") type("image/png") 1x, url("../../img/gallery-back/grey-back-1820px@2x.png") type("image/png") 2x);
    background-image: image-set(url("../../img/gallery-back/grey-back-1820px.webp") type("image/webp") 1x, url("../../img/gallery-back/grey-back-1820px@2x.webp") type("image/webp") 2x, url("../../img/gallery-back/grey-back-1820px.png") type("image/png") 1x, url("../../img/gallery-back/grey-back-1820px@2x.png") type("image/png") 2x);
  }
}
.gallery-item--oil-felix::before {
  background-image: -webkit-image-set(url("../../img/gallery-back/yellow-back-320px.webp") type("image/webp") 1x, url("../../img/gallery-back/yellow-back-320px@2x.webp") type("image/webp") 2x, url("../../img/gallery-back/yellow-back-320px.png") type("image/png") 1x, url("../../img/gallery-back/yellow-back-320px@2x.png") type("image/png") 2x);
  background-image: image-set(url("../../img/gallery-back/yellow-back-320px.webp") type("image/webp") 1x, url("../../img/gallery-back/yellow-back-320px@2x.webp") type("image/webp") 2x, url("../../img/gallery-back/yellow-back-320px.png") type("image/png") 1x, url("../../img/gallery-back/yellow-back-320px@2x.png") type("image/png") 2x);
}
@media (min-width: 640px) {
  .gallery-item--oil-felix::before {
    background-image: -webkit-image-set(url("../../img/gallery-back/yellow-back-640px.webp") type("image/webp") 1x, url("../../img/gallery-back/yellow-back-640px@2x.webp") type("image/webp") 2x, url("../../img/gallery-back/yellow-back-640px.png") type("image/png") 1x, url("../../img/gallery-back/yellow-back-640px@2x.png") type("image/png") 2x);
    background-image: image-set(url("../../img/gallery-back/yellow-back-640px.webp") type("image/webp") 1x, url("../../img/gallery-back/yellow-back-640px@2x.webp") type("image/webp") 2x, url("../../img/gallery-back/yellow-back-640px.png") type("image/png") 1x, url("../../img/gallery-back/yellow-back-640px@2x.png") type("image/png") 2x);
  }
}
@media (min-width: 960px) {
  .gallery-item--oil-felix::before {
    background-image: -webkit-image-set(url("../../img/gallery-back/yellow-back-1820px.webp") type("image/webp") 1x, url("../../img/gallery-back/yellow-back-1820px@2x.webp") type("image/webp") 2x, url("../../img/gallery-back/yellow-back-1820px.png") type("image/png") 1x, url("../../img/gallery-back/yellow-back-1820px@2x.png") type("image/png") 2x);
    background-image: image-set(url("../../img/gallery-back/yellow-back-1820px.webp") type("image/webp") 1x, url("../../img/gallery-back/yellow-back-1820px@2x.webp") type("image/webp") 2x, url("../../img/gallery-back/yellow-back-1820px.png") type("image/png") 1x, url("../../img/gallery-back/yellow-back-1820px@2x.png") type("image/png") 2x);
  }
}
.gallery-item__wrapper {
  position: relative;
  overflow: hidden;
}
@media (min-width: 1280px) {
  .gallery-item__wrapper {
    display: grid;
    grid-template-columns: auto auto;
  }
}
.gallery-item__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: min-content;
}
@media (min-width: 640px) {
  .gallery-item__content {
    width: 360px;
  }
}
@media (min-width: 960px) {
  .gallery-item__content {
    padding-left: 10px;
  }
}
@media (min-width: 1280px) {
  .gallery-item__content {
    padding-left: 0;
  }
}
.gallery-item__logo {
  margin-bottom: 10px;
}
@media (min-width: 640px) {
  .gallery-item__logo {
    margin-bottom: 8px;
  }
}
.gallery-item__description {
  display: flex;
  align-items: center;
  min-height: 172px;
  margin: 0;
  margin-bottom: 5px;
  color: #FFFFFF;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}
@media (min-width: 640px) {
  .gallery-item__description {
    min-height: 148px;
    margin-bottom: 7px;
    font-size: 42px;
    line-height: 49px;
  }
}
.gallery-item__btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.gallery-item__btn:hover {
  opacity: 0.3;
}
.gallery-item__btn:focus-visible {
  opacity: 0.3;
  outline: none;
}
.gallery-item__btn:active {
  opacity: 0.1;
}
.gallery-item__btn-caption {
  margin-right: 16px;
}
.gallery-item__btn-icon {
  color: #1C69D4;
}
.gallery-item__slogan {
  display: none;
}
@media (min-width: 1280px) {
  .gallery-item__slogan {
    justify-self: end;
    display: block;
    padding: 0;
    padding-top: 102px;
    margin: 0;
    color: #FFFFFF;
    font-size: 75px;
    line-height: 72px;
    font-weight: 300;
  }
}
.gallery-item__img {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  z-index: -1;
  margin: 0 auto;
  object-fit: cover;
}
.gallery-item--oil-champion .gallery-item__img {
  top: 27px;
  width: 191px;
  height: 298px;
  margin-left: 46.6%;
}
@media (min-width: 640px) {
  .gallery-item--oil-champion .gallery-item__img {
    top: 15px;
    width: 297px;
    height: 464px;
    margin-left: 49.2%;
  }
}
@media (min-width: 960px) {
  .gallery-item--oil-champion .gallery-item__img {
    margin: 0 auto;
  }
}
.gallery-item--cosmetics-felix .gallery-item__img {
  width: 394px;
  height: 352px;
}
.gallery-item--oil-felix .gallery-item__img {
  width: 269px;
  height: 330px;
}
.slider__item:not(.slider__item--current) {
  display: none;
}
.gallery-controls__btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../../img/arrow-right.svg");
  background-size: 26px 19px;
  background-position: center left 17px;
  background-repeat: no-repeat;
}
.gallery-controls__btn--prev {
  transform: rotate(180deg);
}
.gallery-controls__btn:hover {
  opacity: 0.3;
}
.gallery-controls__btn:focus-visible {
  opacity: 0.3;
  outline: none;
}
.gallery-controls__btn:active {
  opacity: 0.1;
}
.gallery-controls__btn--disabled,
.gallery-controls__btn--disabled:hover,
.gallery-controls__btn--disabled:focus-visible,
.gallery-controls__btn--disabled:active {
  opacity: 0.4;
  cursor: default;
}
@media (min-width: 640px) {
  .gallery-controls__btn {
    width: 80px;
    height: 80px;
    background-size: 34px 24px;
    background-position: center left 23px;
  }
}
.gallery {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0;
}
@media (min-width: 640px) {
  .gallery {
    padding: 0 0;
  }
}
@media (min-width: 960px) {
  .gallery {
    padding: 0 20px;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 0 30px;
  }
}
@media (min-width: 1600px) {
  .gallery {
    padding: 0 50px;
  }
}
@media (min-width: 1920px) {
  .gallery {
    max-width: 1920px;
    padding: 0 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
.gallery__slider {
  position: relative;
}
.gallery__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
.gallery__item {
  min-height: 299px;
}
.gallery__item-wrapper {
  box-sizing: border-box;
  height: 100%;
  padding: 0 10px;
  padding-top: 27px;
  padding-bottom: 27px;
}
@media (min-width: 640px) {
  .gallery__item-wrapper {
    padding: 0 20px;
  }
}
@media (min-width: 960px) {
  .gallery__item-wrapper {
    padding: 0 20px;
  }
}
@media (min-width: 1280px) {
  .gallery__item-wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1600px) {
  .gallery__item-wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1920px) {
  .gallery__item-wrapper {
    padding: 0 190px;
  }
}
@media (min-width: 640px) {
  .gallery__item-wrapper {
    padding-top: 40px;
    padding-bottom: 39px;
  }
}
.gallery__controls {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: end;
}
@media (min-width: 640px) {
  .gallery__controls {
    right: 20px;
  }
}
@media (min-width: 1280px) {
  .gallery__controls {
    right: 30px;
  }
}
@media (min-width: 1920px) {
  .gallery__controls {
    right: 190px;
  }
}
.opportunities {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0;
  margin-bottom: 20px;
}
@media (min-width: 640px) {
  .opportunities {
    padding: 0 0;
  }
}
@media (min-width: 960px) {
  .opportunities {
    padding: 0 20px;
  }
}
@media (min-width: 1280px) {
  .opportunities {
    padding: 0 30px;
  }
}
@media (min-width: 1600px) {
  .opportunities {
    padding: 0 50px;
  }
}
@media (min-width: 1920px) {
  .opportunities {
    max-width: 1920px;
    padding: 0 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1280px) {
  .opportunities {
    margin-bottom: 28px;
  }
}
.opportunities__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  padding: 0 10px;
  display: grid;
  gap: 10px;
}
@media (min-width: 640px) {
  .opportunities__list {
    padding: 0 20px;
  }
}
@media (min-width: 960px) {
  .opportunities__list {
    padding: 0 20px;
  }
}
@media (min-width: 1280px) {
  .opportunities__list {
    padding: 0 30px;
  }
}
@media (min-width: 1600px) {
  .opportunities__list {
    padding: 0 30px;
  }
}
@media (min-width: 1920px) {
  .opportunities__list {
    padding: 0 190px;
  }
}
@media (min-width: 640px) {
  .opportunities__list {
    gap: 20px;
  }
}
@media (min-width: 960px) {
  .opportunities__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1280px) {
  .opportunities__list {
    gap: 30px;
  }
}
.opportunities__item {
  position: relative;
  display: grid;
  gap: 8px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 2px 6px 0 rgba(0, 0, 0, 0.04), 0 10px 20px 0 rgba(0, 0, 0, 0.04);
}
@media (min-width: 640px) {
  .opportunities__item {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content auto;
    row-gap: 8px;
    column-gap: 20px;
  }
  .opportunities__item:not(:first-of-type) {
    min-height: 152px;
  }
}
@media (min-width: 960px) {
  .opportunities__item {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
  }
}
@media (min-width: 1280px) {
  .opportunities__item {
    padding: 32px 20px;
  }
}
@media (min-width: 1600px) {
  .opportunities__item {
    padding-left: 80px;
  }
}
.opportunities__number {
  display: none;
}
@media (min-width: 1600px) {
  .opportunities__number {
    position: absolute;
    top: 32px;
    left: 16px;
    display: block;
    margin: 0;
    color: rgba(34, 34, 34, 0.2);
    font-size: 36px;
    line-height: 36px;
    font-weight: 900;
  }
}
.opportunities__title {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}
@media (min-width: 640px) {
  .opportunities__title {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }
}
@media (min-width: 960px) {
  .opportunities__title {
    grid-row: auto;
    grid-column: auto;
  }
}
.opportunities__decription {
  align-self: center;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
@media (min-width: 640px) {
  .opportunities__decription {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
}
@media (min-width: 960px) {
  .opportunities__decription {
    grid-row: auto;
    grid-column: auto;
  }
}
.opportunities__phone {
  display: block;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
}
.opportunities__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 52px;
  border: 2px solid #1C69D4;
  color: #1C69D4;
}
.opportunities__link--whatsapp {
  gap: 6px;
  min-height: 52px;
  border: 2px solid #3CA255;
  color: #3CA255;
}
.opportunities__link:hover {
  opacity: 0.3;
}
.opportunities__link:focus-visible {
  opacity: 0.3;
  outline: none;
}
.opportunities__link:active {
  opacity: 0.1;
}
@media (min-width: 640px) {
  .opportunities__link {
    grid-row: 2 / 3;
    grid-column: -2 / -1;
    align-self: start;
  }
}
@media (min-width: 960px) {
  .opportunities__link {
    grid-row: auto;
    grid-column: auto;
  }
}
.opportunities__link--whatsapp .opportunities__link-phone {
  display: none;
}
@media (min-width: 1280px) {
  .opportunities__link--whatsapp .opportunities__link-phone {
    display: block;
  }
}
@media (min-width: 1280px) {
  .opportunities__link--whatsapp .opportunities__link-text {
    display: none;
  }
}
.offers-item {
  position: relative;
  overflow: hidden;
  color: #FFFFFF;
}
.offers-item--awm {
  background-color: #01B7E6;
}
.offers-item--dot4 {
  background-color: #587478;
}
.offers-item__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 100%;
}
.offers-item__slogan {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
@media (min-width: 1280px) {
  .offers-item--awm .offers-item__slogan {
    font-size: 20px;
    line-height: 20px;
    font-weight: 900;
  }
}
.offers-item__title {
  margin: 0;
  font-size: 23px;
  line-height: 30px;
  font-weight: 700;
}
@media (min-width: 1280px) {
  .offers-item--awm .offers-item__title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 900;
  }
}
@media (min-width: 1600px) {
  .offers-item--awm .offers-item__title {
    width: min-content;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }
}
.offers-item--dot4 .offers-item__title {
  width: min-content;
}
@media (min-width: 1280px) {
  .offers-item--dot4 .offers-item__title {
    font-size: 30px;
    line-height: 36px;
  }
}
.offers-item__button {
  justify-self: start;
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding-bottom: 3px;
  border-bottom: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: start;
}
.offers-item__button:hover {
  opacity: 0.3;
}
.offers-item__button:focus-visible {
  opacity: 0.3;
  outline: none;
}
.offers-item__button:active {
  opacity: 0.1;
}
.offers-item__label {
  display: none;
}
@media (min-width: 1280px) {
  .offers-item__label {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 1;
    display: block;
    padding: 15px 15px 11px 15px;
    background-color: #FF4400;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
}
.offers-item--awm .offers-item__img {
  width: 361px;
  height: 252px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  object-position: -7px top;
}
@media (min-width: 640px) {
  .offers-item--awm .offers-item__img {
    object-position: -11px top;
  }
}
@media (min-width: 960px) {
  .offers-item--awm .offers-item__img {
    object-position: left top;
    left: 13.4%;
  }
}
.offers-item--dot4 .offers-item__img {
  width: 96px;
  height: 240px;
  top: 21px;
  left: 64.3%;
}
@media (min-width: 640px) {
  .offers-item--dot4 .offers-item__img {
    left: 64.7%;
  }
}
@media (min-width: 960px) {
  .offers-item--dot4 .offers-item__img {
    left: 60%;
  }
}
.offers-item .offers-item__img {
  position: absolute;
  object-fit: cover;
}
@media (min-width: 1280px) {
  .offers-item .offers-item__img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    object-position: center;
  }
}
.offers {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0;
}
@media (min-width: 640px) {
  .offers {
    padding: 0 0;
  }
}
@media (min-width: 960px) {
  .offers {
    padding: 0 20px;
  }
}
@media (min-width: 1280px) {
  .offers {
    padding: 0 30px;
  }
}
@media (min-width: 1600px) {
  .offers {
    padding: 0 50px;
  }
}
@media (min-width: 1920px) {
  .offers {
    max-width: 1920px;
    padding: 0 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1280px) {
  .offers {
    padding-bottom: 24px;
  }
}
@media (min-width: 1600px) {
  .offers {
    padding-bottom: 28px;
  }
}
.offers__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  padding: 0 10px;
  display: grid;
  gap: 10px;
}
@media (min-width: 640px) {
  .offers__list {
    padding: 0 20px;
  }
}
@media (min-width: 960px) {
  .offers__list {
    padding: 0 20px;
  }
}
@media (min-width: 1280px) {
  .offers__list {
    padding: 0 30px;
  }
}
@media (min-width: 1600px) {
  .offers__list {
    padding: 0 30px;
  }
}
@media (min-width: 1920px) {
  .offers__list {
    padding: 0 190px;
  }
}
@media (min-width: 640px) {
  .offers__list {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (min-width: 1280px) {
  .offers__list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}
.offers__item {
  box-sizing: border-box;
  min-height: 252px;
  padding: 29px 20px 30px;
}
@media (min-width: 640px) {
  .offers__item {
    padding: 29px 40px 30px;
  }
}
@media (min-width: 1280px) {
  .offers__item {
    min-height: 356px;
    padding: 35px 40px 38px;
  }
  .offers__item:first-of-type {
    grid-column: 1 / 2;
  }
  .offers__item:last-of-type {
    grid-column: 2 / 4;
  }
}
.footer-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
}
@media (min-width: 960px) {
  .footer-list__item:nth-of-type(6),
  .footer-list__item:nth-of-type(7) {
    display: none;
  }
}
@media (min-width: 1280px) {
  .footer-list__item:nth-of-type(6),
  .footer-list__item:nth-of-type(7) {
    display: block;
  }
  .footer-list__item:nth-of-type(8) {
    display: none;
  }
}
@media (min-width: 1600px) {
  .footer-list__item:nth-of-type(8) {
    display: block;
  }
}
.footer-list__link {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer-list__link:hover {
  opacity: 0.3;
}
.footer-list__link:focus-visible {
  opacity: 0.3;
  outline: none;
}
.footer-list__link:active {
  opacity: 0.1;
}
.social-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
.social-list__link {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.social-list__link:hover {
  opacity: 0.3;
}
.social-list__link:focus-visible {
  opacity: 0.3;
  outline: none;
}
.social-list__link:active {
  opacity: 0.1;
}
.social-list__link-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.copyright {
  margin: 0;
  color: #777777;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}
.copyright__link {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #777777;
}
.copyright__link:hover {
  opacity: 0.3;
}
.copyright__link:focus-visible {
  opacity: 0.3;
  outline: none;
}
.copyright__link:active {
  opacity: 0.1;
}
.page-footer {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0;
  padding-top: 25px;
  padding-bottom: 24px;
}
@media (min-width: 640px) {
  .page-footer {
    padding: 0 0;
  }
}
@media (min-width: 960px) {
  .page-footer {
    padding: 0 20px;
  }
}
@media (min-width: 1280px) {
  .page-footer {
    padding: 0 30px;
  }
}
@media (min-width: 1600px) {
  .page-footer {
    padding: 0 50px;
  }
}
@media (min-width: 1920px) {
  .page-footer {
    max-width: 1920px;
    padding: 0 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 960px) {
  .page-footer {
    padding-top: 23px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1280px) {
  .page-footer {
    margin-top: 10px;
  }
}
@media (min-width: 1600px) {
  .page-footer {
    margin-top: 0;
  }
}
.page-footer__menu-list {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 16px;
}
@media (min-width: 640px) {
  .page-footer__menu-list {
    padding: 0 20px;
  }
}
@media (min-width: 960px) {
  .page-footer__menu-list {
    padding: 0 20px;
  }
}
@media (min-width: 1280px) {
  .page-footer__menu-list {
    padding: 0 30px;
  }
}
@media (min-width: 1600px) {
  .page-footer__menu-list {
    padding: 0 30px;
  }
}
@media (min-width: 1920px) {
  .page-footer__menu-list {
    padding: 0 190px;
  }
}
@media (min-width: 640px) {
  .page-footer__menu-list {
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
}
@media (min-width: 960px) {
  .page-footer__menu-list {
    column-gap: 38px;
    margin-bottom: 26px;
  }
}
@media (min-width: 1280px) {
  .page-footer__menu-list {
    column-gap: 37px;
    margin-bottom: 27px;
  }
}
.page-footer__social-list {
  padding: 0 10px;
  padding-left: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 30px);
  gap: 24px;
  margin-bottom: 9px;
}
@media (min-width: 640px) {
  .page-footer__social-list {
    padding: 0 20px;
  }
}
@media (min-width: 960px) {
  .page-footer__social-list {
    padding: 0 20px;
  }
}
@media (min-width: 1280px) {
  .page-footer__social-list {
    padding: 0 30px;
  }
}
@media (min-width: 1600px) {
  .page-footer__social-list {
    padding: 0 30px;
  }
}
@media (min-width: 1920px) {
  .page-footer__social-list {
    padding: 0 190px;
  }
}
@media (min-width: 640px) {
  .page-footer__social-list {
    justify-content: center;
    margin-bottom: 7px;
  }
}
@media (min-width: 960px) {
  .page-footer__social-list {
    margin-bottom: 9px;
  }
}
.page-footer__copyright {
  padding: 0 10px;
  padding-left: 20px;
}
@media (min-width: 640px) {
  .page-footer__copyright {
    padding: 0 20px;
  }
}
@media (min-width: 960px) {
  .page-footer__copyright {
    padding: 0 20px;
  }
}
@media (min-width: 1280px) {
  .page-footer__copyright {
    padding: 0 30px;
  }
}
@media (min-width: 1600px) {
  .page-footer__copyright {
    padding: 0 30px;
  }
}
@media (min-width: 1920px) {
  .page-footer__copyright {
    padding: 0 190px;
  }
}
@media (min-width: 640px) {
  .page-footer__copyright {
    display: flex;
    justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */
